MR_GREEN_ZIP=8004
MR_GREEN_SUBSCRIPTION=Home Plus
GOOGLE_CALENDAR_ID=abc123@group.calendar.google.com
GOOGLE_CREDENTIALS_FILE=/credentials/service-account.json
EVENT_TITLE=Mr. Green Pickup
EVENT_LOCATION=
EVENT_DESCRIPTION=Recycling pickup
SCHEDULE_CRON=friday
RUN_ON_STARTUP=true
